<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <link rel="stylesheet" href="/static/navi_bar_main.css">
    <link rel="stylesheet" href="/static/style_of_web_chatbot.css">

    <link rel="stylesheet" href="/static/new_footer.css">
    <script src="https://kit.fontawesome.com/090c2b84c6.js" ></script>
   
    
    
</head>
<body>
    <h1 class="frame1" >
        <img src="./chat_web_icon.ico" alt="Error : This image of manga" class="logo1">
        <span class="title1">Shyam Packers</span><br><br><br>
        <span id="sub_tit"> Packing Solution</span>
    </h1>
    <header class="frame2">
        <nav class="navbar">
            <ul>
                <li class="nav_btn"><a href="#">Home</a></li>
                <li class="nav_btn"><a href="#">Product</a></li>
                <li class="nav_btn"><a href="#">About</a></li>
                <li class="nav_btn"><a href="#">Services</a></li>
                <li class="nav_btn"><a href="#">Contact us</a></li>
                <div class="search">
                    <input type="text" name="search" id="search" placeholder="Search this website">
                </div>
            </ul>
        </nav>
    </header>
    <h1 class="frame3">
        <img src="./army1.png" alt="Error : This image of manga" class = img01>

    </h1>

    <h1 class="frame4">

        <header class="top">

        <h3 id="sub_heading" >CORRUGATED BOX MANUFACTURER IN MORADABAD</h3>
        
        </header>
        <div class="container">
            <div class="box">
                <h4 class="heading">Heading</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum ipsam aliquid deleniti, vitae
                    labore cum laudantium a blanditiis est voluptates dolorum consequuntur. Aliquam corporis, fuga
                    consectetur rerum molestias consequatur tempora natus sed laborum recusandae fugit harum soluta
                    inventore enim. Aspernatur aperiam cum reprehenderit!</p>
            </div><div class="box">
                <h4 class="heading">Heading</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum ipsam aliquid deleniti, vitae
                    labore cum laudantium a blanditiis est voluptates dolorum consequuntur. Aliquam corporis, fuga
                    consectetur rerum molestias consequatur tempora natus sed laborum recusandae fugit harum soluta
                    inventore enim. Aspernatur aperiam cum reprehenderit!</p>
            </div><div class="box">
                <h4 class="heading">Heading</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum ipsam aliquid deleniti, vitae
                    labore cum laudantium a blanditiis est voluptates dolorum consequuntur. Aliquam corporis, fuga
                    consectetur rerum molestias consequatur tempora natus sed laborum recusandae fugit harum soluta
                    inventore enim. Aspernatur aperiam cum reprehenderit!</p>
            </div><div class="box">
                <h4 class="heading">Heading</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum ipsam aliquid deleniti, vitae
                    labore cum laudantium a blanditiis est voluptates dolorum consequuntur. Aliquam corporis, fuga
                    consectetur rerum molestias consequatur tempora natus sed laborum recusandae fugit harum soluta
                    inventore enim. Aspernatur aperiam cum reprehenderit!</p>
            </div><div class="box">
                <h4 class="heading">Heading</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum ipsam aliquid deleniti, vitae
                    labore cum laudantium a blanditiis est voluptates dolorum consequuntur. Aliquam corporis, fuga
                    consectetur rerum molestias consequatur tempora natus sed laborum recusandae fugit harum soluta
                    inventore enim. Aspernatur aperiam cum reprehenderit!</p>
            </div><div class="box">
                <h4 class="heading">Heading</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum ipsam aliquid deleniti, vitae
                    labore cum laudantium a blanditiis est voluptates dolorum consequuntur. Aliquam corporis, fuga
                    consectetur rerum molestias consequatur tempora natus sed laborum recusandae fugit harum soluta
                    inventore enim. Aspernatur aperiam cum reprehenderit!</p>
            </div><div class="box">
                <h4 class="heading">Heading</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum ipsam aliquid deleniti, vitae
                    labore cum laudantium a blanditiis est voluptates dolorum consequuntur. Aliquam corporis, fuga
                    consectetur rerum molestias consequatur tempora natus sed laborum recusandae fugit harum soluta
                    inventore enim. Aspernatur aperiam cum reprehenderit!</p>
            </div><div class="box" id="conttt">
                <h4 class="heading">Heading</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum ipsam aliquid deleniti, vitae
                    labore cum laudantium a blanditiis est voluptates dolorum consequuntur. Aliquam corporis, fuga
                    consectetur rerum molestias consequatur tempora natus sed laborum recusandae fugit harum soluta
                    inventore enim. Aspernatur aperiam cum reprehenderit!</p>
            </div>
            
        </div>
    </h1>

    <h1 class="frame5">
        <img src="./box_sam01.jpg" alt="Error : This image of manga" class = img02>
    </h1>

    <div class="container2">
        <div class="chatbox" >
            <div class="chatbox__support" >
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="./chat_of_icon.ico" alt="image" class="real_icon">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi. My name is Leon. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div>
                        <p>  </p>
                    </div>
                </div>
                <div class="chatbox__footer" >
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button id="chat_icon"><img src="./chatbox-icon.svg" id="chat_icon_img" /></button>
            </div>
        </div>
    </div>
    <footer class="frame6">
        <div class="row">
            <div class="col">
                <img src="chat_web_icon-2.png" class="logo"">
                <p>Shyam Packers Pvt. Ltd. is corrugated boxes manufacturing firm. 
                    Its managing director and the main promoter Mr. Shyam Kumar Kashyap, 
                    the man with broad vision and a pleasing personality took the initiative 
                    of the industry.
                </p>
            </div>
            <div class="col">
                <h3>Office <div class="underline"><span></span></div></h3>
                <p>Vijay Nagar</p>
                <p>Rampur Road, Mordabad</p>
                <p>Uttar Pradesh,PIN : 244001,India</p>
                <p class="email_id">kashyaph92@gmail.com</p>
                <p class="mob_number">+91 7983114931</p>
            </div>
            <div class="col">
                <h3>Links<div class="underline"><span></span></div></h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Contact us</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter<div class="underline"><span></span></div></h3>
                <form">
                    <i class="far fa-envelope"></i>
                    <input type="email" placeholder="Enter your Email I.D." required>
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
                <div class="social-icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-square-twitter"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-pinterest"></i>
                   
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright"> Xicor Project 07 @ 2022 - All Rights Reserved</p>
    </footer>

    
    
    <script>
        $SCRIPT_ROOT = '{{ request.script_root|tojson }}';
    </script>
    <script src="/static/javascript_of_web_chatbot.js"></script>
    
    
</body>
</html>